<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diiage.guillaumebidault.myhealthbidault">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:mimeType="vnd.android.cursor.item/vnd.fr.diiage.bidault.myhealth.PersonneProvider.personne"/>
            </intent-filter>
        </activity>

        <provider android:name="com.diiage.guillaumebidault.myhealthbidault.provider.PersonneProvider"
            android:authorities="fr.diiage.bidault.myhealth.PersonneProvider" android:exported="true" />

    </application>

</manifest>